*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url("https://img1.wallspic.com/crops/2/2/8/9/39822/39822-el_agua_de_mar-1920x1080.jpg");
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background:white;
  border-radius: 10px;
}



.typelogin{
  border-radius: 10px;
  font-size: 25px;
}

.buttonlogin {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 10px 15px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: 50px;
}

.buttonlogin:active,
.buttonlogin:hover {
  outline: 0;
}

.buttonlogin:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .buttonlogin {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
}


.body2 { 
  background-image: url("https://cdna.artstation.com/p/assets/images/images/018/484/808/large/anton-martinez-sayanes-de-cominges-proceso-escena-28-5.jpg?1559571364")
}

.h1base {
  text-align: center;
  margin-top: 80px;
  color: rgb(255, 255, 255);
}

.containerr {
  padding: 30px;
  width: 20%;
  text-align: center;
  background-color: aqua;
  margin-top: 200px;
  margin-left: 600px;
}


.imagen1 {
  width: 20%;
  margin-left: 60px;
 
}

.h21 {
  text-align: left; 
  font-family: Comic Sans MS; 
  font-weight:bold; 
  font-size: 30px; 
  color: #fad906; 
  text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
  background: #b8a607;
  padding:8px; 
  border:3px solid #000000; 
  text-align:center;  
  border-radius:6px;
  margin-top: 30px;
}
