<div class="delete">
<form action="/delete" method="POST" id="delete" class="container-sm">
    <div class="mb-3 form-group">
        <h2>Eliminar usuario</h2>
    </div>
    <div class="mb-3 form-group">
            <label for="iddelete" class="form-label">Eliminar usuario</label>
            <input type="text" class="form-control" id="iddeleteusuario" name="eliminarusuario" value="" placeholder="Ingrese el email del usuario que quiere eliminar">
        </div>
         <div class="mb-3 form-group">
            <input type="button" class="typelogin" onclick="borrar()" value="Borrar usuario">
        </div>
</form>
</div>