
<section class="home">

  <style>
    .body2{ 
      background-image: url("https://cdna.artstation.com/p/assets/images/images/018/484/808/large/anton-martinez-sayanes-de-cominges-proceso-escena-28-5.jpg?1559571364")
      }
  </style>
  <body class="body2">
   <h1>Bienvenidos</h1>
  <h2>Primera experiencia usando Firebase</h2>
  <form action="/register" method="get" >
    <input type="submit" class="btn btn-primary" value="Registrarse" />
  </form>
  <form action="/login" method="get">
    <input type="submit" class="btn btn-primary" value="Iniciar sesión" />
  </form>
  </body>
</section>

