
<section class="home">
  <body class="body2">
    <div class="container">
      <h1>Batalla Naval</h1>
      <form action="/register" method="get" >
        <input type="submit" class="typehome" value="Registrarse" />
      </form>
      <form action="/login" method="get">
        <input type="submit" class="typehome" value="Iniciar sesión" />
      </form>
    </div>
  </body>
</section>

