<section class="juego"> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batalla Naval</title>
    <style>
        .h2juego {

        }
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 0 auto;
            margin-left: 700px;
            margin-top: 100px;
        }
        th, td {
            border: 1px solid black;
            text-align: center;
            height: 50px;
            width: 30px;
            background-color: #ffffff;
        }
        th {
            background-color: #e0e0e0;
        }
        .h1juego {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 50px ;
            
        }
        .body {
            background-image: url("https://img1.wallspic.com/crops/2/2/8/9/39822/39822-el_agua_de_mar-1920x1080.jpg");
        }
    </style>
</head>
<body class="body">
    <h1 class="h1juego">Batalla Naval</h1>
    <h2 class="h2juego"></h2>
    <table>
        <tr>
            <th></th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>F</th>
            <th>G</th>
            <th>H</th>
            <th>I</th>
            <th>J</th>
        </tr>
        <tr>
            <th>1</th>
            <td id="A1" onclick="casilla(this)"></td>
            <td id="B1" onclick="casilla(this)"></td>
            <td id="C1" onclick="casilla(this)"></td>
            <td id="D1" onclick="casilla(this)"></td>
            <td id="E1" onclick="casilla(this)"></td>
            <td id="F1" onclick="casilla(this)"></td>
            <td id="G1" onclick="casilla(this)"></td>
            <td id="H1" onclick="casilla(this)"></td>
            <td id="I1" onclick="casilla(this)"></td>
            <td id="J1" onclick="casilla(this)"></td>
        </tr>
        <tr>
            <th>2</th>
            <td id="A2" onclick="casilla(this)"></td>
            <td id="B2" onclick="casilla(this)"></td>
            <td id="C2" onclick="casilla(this)"></td>
            <td id="D2" onclick="casilla(this)"></td>
            <td id="E2" onclick="casilla(this)"></td>
            <td id="F2" onclick="casilla(this)"></td>
            <td id="G2" onclick="casilla(this)"></td>
            <td id="H2" onclick="casilla(this)"></td>
            <td id="I2" onclick="casilla(this)"></td>
            <td id="J2" onclick="casilla(this)"></td>
        </tr>
        <tr>
            <th>3</th>
            <td id="A3" onclick="casilla(this)"></td>
            <td id="B3" onclick="casilla(this)"></td>
            <td id="C3" onclick="casilla(this)"></td>
            <td id="D3" onclick="casilla(this)"></td>
            <td id="E3" onclick="casilla(this)"></td>
            <td id="F3" onclick="casilla(this)"></td>
            <td id="G3" onclick="casilla(this)"></td>
            <td id="H3" onclick="casilla(this)"></td>
            <td id="I3" onclick="casilla(this)"></td>
            <td id="J3" onclick="casilla(this)"></td>
        </tr>
        <tr>
            <th>4</th>
            <td id="A4" onclick="casilla(this)"></td>
            <td id="B4" onclick="casilla(this)"></td>
            <td id="C4" onclick="casilla(this)"></td>
            <td id="D4" onclick="casilla(this)"></td>
            <td id="E4" onclick="casilla(this)"></td>
            <td id="F4" onclick="casilla(this)"></td>
            <td id="G4" onclick="casilla(this)"></td>
            <td id="H4" onclick="casilla(this)"></td>
            <td id="I4" onclick="casilla(this)"></td>
            <td id="J4" onclick="casilla(this)"></td>
        </tr>
        <tr>
            <th>5</th>
            <td id="A5" onclick="casilla(this)"></td>
            <td id="B5" onclick="casilla(this)"></td>
            <td id="C5" onclick="casilla(this)"></td>
            <td id="D5" onclick="casilla(this)"></td>
            <td id="E5" onclick="casilla(this)"></td>
            <td id="F5" onclick="casilla(this)"></td>
            <td id="G5" onclick="casilla(this)"></td>
            <td id="H5" onclick="casilla(this)"></td>
            <td id="I5" onclick="casilla(this)"></td>
            <td id="J5" onclick="casilla(this)"></td>
        </tr>
        <tr>
            <th>6</th>
            <td id="A6" onclick="casilla(this)"></td>
            <td id="B6" onclick="casilla(this)"></td>
            <td id="C6" onclick="casilla(this)"></td>
            <td id="D6" onclick="casilla(this)"></td>
            <td id="E6" onclick="casilla(this)"></td>
            <td id="F6" onclick="casilla(this)"></td>
            <td id="G6" onclick="casilla(this)"></td>
            <td id="H6" onclick="casilla(this)"></td>
            <td id="I6" onclick="casilla(this)"></td>
            <td id="J6" onclick="casilla(this)"></td>
        </tr>
        <tr>
            <th>7</th>
            <td id="A7" onclick="casilla(this)"></td>
            <td id="B7" onclick="casilla(this)"></td>
            <td id="C7" onclick="casilla(this)"></td>
            <td id="D7" onclick="casilla(this)"></td>
            <td id="E7" onclick="casilla(this)"></td>
            <td id="F7" onclick="casilla(this)"></td>
            <td id="G7" onclick="casilla(this)"></td>
            <td id="H7" onclick="casilla(this)"></td>
            <td id="I7" onclick="casilla(this)"></td>
            <td id="J7" onclick="casilla(this)"></td>
        </tr>
        <tr>
            <th>8</th>
            <td id="A8" onclick="casilla(this)"></td>
            <td id="B8" onclick="casilla(this)"></td>
            <td id="C8" onclick="casilla(this)"></td>
            <td id="D8" onclick="casilla(this)"></td>
            <td id="E8" onclick="casilla(this)"></td>
            <td id="F8" onclick="casilla(this)"></td>
            <td id="G8" onclick="casilla(this)"></td>
            <td id="H8" onclick="casilla(this)"></td>
            <td id="I8" onclick="casilla(this)"></td>
            <td id="J8" onclick="casilla(this)"></td>
        </tr>
        <tr>
            <th>9</th>
            <td id="A9" onclick="casilla(this)"></td>
            <td id="B9" onclick="casilla(this)"></td>
            <td id="C9" onclick="casilla(this)"></td>
            <td id="D9" onclick="casilla(this)"></td>
            <td id="E9" onclick="casilla(this)"></td>
            <td id="F9" onclick="casilla(this)"></td>
            <td id="G9" onclick="casilla(this)"></td>
            <td id="H9" onclick="casilla(this)"></td>
            <td id="I9" onclick="casilla(this)"></td>
            <td id="J9" onclick="casilla(this)"></td>
        </tr>
        <tr>
            <th>10</th>
            <td id="A10" onclick="casilla(this)"></td>
            <td id="B10" onclick="casilla(this)"></td>
            <td id="C10" onclick="casilla(this)"></td>
            <td id="D10" onclick="casilla(this)"></td>
            <td id="E10" onclick="casilla(this)"></td>
            <td id="F10" onclick="casilla(this)"></td>
            <td id="G10" onclick="casilla(this)"></td>
            <td id="H10" onclick="casilla(this)"></td>
            <td id="I10" onclick="casilla(this)"></td>
            <td id="J10" onclick="casilla(this)"></td>
        </tr>
    </table>
</body>
</html>
</section>