<!-- login.handlebars -->
<section>
  <body class="body2">
    <h1 class="h1base">Iniciar sesión</h1>
    <form action="/login" method="PUT" id="form1" class="container-sm">
      <input type="usuario" id="usuarioId" name="usuario" placeholder="Usuario" required />
      <input type="password" id="passwordId" name="password" placeholder="Contraseña" required />
      <button type="button" onclick="login()">Iniciar sesión</button>
    </form>
    <div>{{message}}</div>

  </body>
</section>
