<!-- login.handlebars -->
<div id="login">
  <h1>Iniciar sesión</h1>
  <form action="/login" method="post">
    <input type="email" name="email" class="typelogin" placeholder="Usuario" required />
    <input type="password" name="password" class="typelogin" placeholder="Contraseña" required />
    <button type="submit" class ="buttonlogin">Iniciar sesión</button>
  </form>
  <div>{{message}}</div>
</div>