<!-- login.handlebars -->

<section>
  <body id="login">
    <div class="container">
      <h1>Iniciar sesión</h1>
      <form action="/login" method="PUT" id="form1" class="container-sm">
        <div class="username">
            <input type="text" required>
            <label>Mail</label>
        </div>
        <div class="contraseña">
            <input type="text" required>
            <label>Contraseña</label>
        </div>
        <button type="submit" value="Iniciar sesion" class="typelogin">Iniciar sesion</button>
      </form>
      <div>{{message}}</div>
    </div>
  </body>
</section>



