<!-- login.handlebars -->

<section>
  <body id="login">
    <div class="container">
      <h1>Iniciar sesión</h1>
      <form action="/login" method="POST" id="form1" class="container-sm">
        <div class="username">
            <input type="text" name="email" required>
            <label>Mail</label>
        </div>
        <div class="contraseña">
            <input type="password" name="password" required>
            <label>Contraseña</label>
        </div>
        <button type="submit" class="typelogin">Iniciar sesion</button>
      </form>
      <div>{{message}}</div>
    </div>
  </body>
</section>
<section>
  <div id="admin" style="display: none">
          <div class="mb-3 form-group">
          <h2>Usuario Administrador</h2>
          </div>
          <form action="/delete" method="GET" class="container-sm">
              <div class="mb-3 form-ckeck">
                  <input type="submit" class="typelogin" id="deletebutton" value="Eliminar Usuario">
              </div>
          </form>
  </div>
</section>

