<!-- register.handlebars -->
<section>
  <body id="register">
    <div class="container">
      <h1>Registro</h1>
      <form action="/register" method="POST" id="form2" class="container-sm">
        <div class="username">
            <input type="text" name="email" required>
            <label>Mail</label>
        </div>
        <div class="contraseña">
            <input type="password" name="password" required>
            <label>Contraseña</label>
        </div>
        <button type="submit" value="Registrarse" class="typelogin">Registrarse</button>
      </form>
      <div>{{message}}</div>
    </div>
  </body>
</section>

